# Django Backend
Django>=4.2
djangorestframework>=3.14
djangorestframework-simplejwt
django-cors-headers
python-dotenv

# Image handling
Pillow>=10.0

# HTTP requests (for calling ML service)
requests

# Streamlit Frontend
streamlit
